.questionTitle{
    padding: 20px;
    color: rgb(209, 209, 209);
    margin: 0;
    background-color: black;
}

.questionBody{
    padding: 20px;
    background-color: black;
    color: rgb(217, 217, 217);
    font-size: 18px;
    margin: 0;
}

.questionAuthor{
    text-align: right;
    margin: 5px 20px;
    text-decoration: underline;
    color: dodgerblue;
}

#txtAreaContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;

}

#txtAreaContainer textarea{
    margin: 10px;
    font-size: 20px;
}

#txtAreaContainer p{
    color: grey;
}